*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display:flex;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
    flex-wrap: wrap;
}

section{
    width: 100%;
}

section1{
    background-color: cyan;
    border: 2px solid red;
}

h2{
    font-size: 36px;
}

header{
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    }

.logo img{
    max-width: 100px;
    height: auto;
    margin-right: 20px;
    margin-left: 40px;
}

nav ul {
    list-style: none;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 45px;
}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.texto{
    padding: 30px;
    border-radius: 20px;
}

.texto p{
    font-size: 18px;
    margin-top: 20px;
    text-align: justify;
}

.texto div{
    margin: 10px;
    display: flex;
    justify-content: center;
}

#solucao img{
    width: 600px;
}

#problema, #solucao{
    background-color: #1a237e;
    color: #fff;
    margin: 20px;
}

#rodape{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.banner{
    position: relative;
    text-align: center;
}

.banner img{
    width: 100%;
}

.banner h1{
    position: absolute;
    font-size: 60px;
    color: #fff;
    width: 50%;
    top: 50px;
    right: 10px;
}

.banner ul{
    position: absolute;
    font-size: 18px;
    color: #fff;
    top: 150px;
    right: 10px;
    width: 30%;
    list-style: none;
    text-align: center;
    padding: 0;
    font-weight: bold;
    line-height: 2;

}

.banner ul :first-child{
    font-size: 24px;
    text-decoration: underline;
}

.pontinho{
    padding-left: 40px;
}

.divide{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.divide div{
    display: block;
    padding-left: -20px;
}
#problema img{
    width: 500px;
}